@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla/Karla-Regular.ttf');
}

@font-face {
  font-family: 'Karla Bold';
  src: url('./fonts/Karla/Karla-Bold.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Proxima Nova/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova SemiBold';
  src: url('./fonts/Proxima Nova/Proxima Nova Semibold.otf');
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/worksans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url('./fonts/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Work Sans Thin';
  src: url('./fonts/worksans/WorkSans-Thin.ttf');
}

.rotate90 {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

/* .sticky {
  position: fixed;
  top: 0;
}

.smoothContent {
  padding-top: 35px;
} */

.hide {
  display: none;
}

.show {
  display: flex;
}

.hamburgerMenu {
  position: relative;
  z-index: 99;
}

.extendedMenu {
  position: absolute;
  justify-content: space-evenly;
  width: 200px;
  top: 120px;
  left: -87px;
}

.menuLink {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #FFFBF5;
}

.menuLink:hover {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #F49C31;
}

.menuLink:visited {
  text-decoration: none;
  color: #F49C31;
}

.indicatorLink {
  text-decoration: none;
  color: #F49C31;
}

.indicatorLink:hover {
  text-decoration: none;
  color: #F49C31;
}

.indicatorLink:visited {
  text-decoration: none;
  color: #F49C31;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFBF5;
  color: #373737;
  font-family: 'Proxima Nova';
  font-size: 18px;
  line-height: 130%;
  margin-top: 30px;
}

header {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.menu {
  width: 72.5%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
}

.largeLogo {
  width: 120px;
  height: 90px;
}

.content {
  width: 44%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation-duration: 1.5s;
}

.button {
  background-color: #F49C31;
  border: 1px solid #F49C31;
  border-radius: 8px;
  font-family: 'Work Sans';
  color: #FFFBF5;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button:hover {
  background-color: #FFFBF5;
  color: #F49C31;
  transition: 0.5s all;
}


.hero {
  font-family: 'Karla Bold';
  font-size: 36px;
  line-height: 120%;
  padding-top: 50px;
}

.byLine {
  font-family: 'Karla';
  font-size: 18px;
  padding-top: 55px;
  display: flex;
  justify-content: center;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans';
  font-size: 18px;
  color: #F49C31;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.indicatorSpacing {
  padding: 55px 40px;
}

.mainContent {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  padding: 50px 0;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1.5s;
}

.projectImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}

.projectImage {
  width: 90%;
}

.projectInfo {
  text-align: left;
  line-height: 130%;
  width: 50%;
  padding-left: 30px;
}

.projectName {
  font-family: 'Karla Bold';
  font-size: 48px;
  font-weight: bold;
  line-height: 130%;
}

.projectSubtitle {
  font-family: 'Proxima Nova SemiBold';
}

.projectDescription {
  padding: 20px 0;
}

.projectButton {
  margin-top: 25px;
}

.title {
  width: 100%;
  font-family: 'Karla';
  font-size: 36px;
  text-align: left;
  line-height: 130%;
  padding: 30px 0 20px 0;
}

.subtitle {
  width: 100%;
  font-family: 'Proxima Nova SemiBold';
  font-size: 24px;
  line-height: 120%;
  text-decoration: underline;
  text-align: left;
  padding: 15px 0;
}

.context {
  width: 100%;
  padding-bottom: 50px;
}

@media only screen and (max-width: 990px) {
  header {
    width: 85%;
  }

  .menu {
    width: 85%;
  }

  .content {
    width: 85%;
  }

  .mainContent {
    width: 85%;
  }

  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectImageContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .projectInfo {
    width: 95%;
    padding-top: 10px;
    padding-left: 0;
  }
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #F49C31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  padding: 70px 0 55px 0;
}

.footer {
  font-family: 'Work Sans SemiBold';
  font-size: 36px;
  color: #FFFBF5;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.spacer {
  border-bottom: 2px solid #FFFBF5;
  width: 72.5%;
  margin: 20px 0 20px 0;
  max-width: 320px;
}

.footerIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.footerLink {
  border-bottom: 2px solid #F49C31;
}

.footerLink:hover {
  border-bottom: 2px solid #FFFBF5;
}
